extends layout 

block body
  row
    .evs.col-md-10.col-md-offset-1
      a.evsHeader Scientists find 7 Earth-like planets orbiting nearby ultracool star
      h3.evsFooter Skip 39 light-years across our galaxy, and you’ll arrive at Trappist-1, an ultracool dwarf star with a band of special followers.
