extends layout

block body
  mixin piece(data)
      div.col-md-6.col-sm-12.piece
        a(href=data[1])
          image(src="./img/#{data[0]}.jpg")
  -
    list = [["magnet", "https://www.youtube.com/watch?v=vwkm83U0g0o"],
      ["headtalk", "http://headtalk.io"],
      ["knock", "https://github.com/headtalk/knock"], 
      ["mosaic", "http://techcrunch.com/2013/04/02/mosaic-lets-you-weave-a-single-display-from-multiple-iphones-and-ipads-offers-sdk-for-developers/"], 
      ["swyp", "http://www.fastcodesign.com/1669697/it-exists-mit-creates-tech-for-moving-files-across-devices-with-a-swipe"],
      ["telepathy", "http://alist.github.com/files/Headtalk Pragmatic Annotated Slides.pdf"]]
    
  .hundeepiece.stardust
    .fixBottom.aurora
    .container
      row
        div.col-md-10.col-md-offset-1.content
          h1.center My Work
          h2.center Alexander Hoekje List
          .pieces
            for index in [[0,1], [2,3], [4,5]]
              row
                for i in index
                  +piece(list[i])
