extends layout

block body
  .hundeepiece.stardust
    .fixBottom.aurora
    .container.content
      row
        div.col-md-10.col-md-offset-1
          h2.mainHeader Things I like in Vermont
          h3.sectionHeader 
            | If you are my friend, let's consider doing these things.
            p
            i Last updated March 2022
          ul
            li Flight (with a pilot friend) to Massachusetts Northampton or Turners Falls Airport
            li Coffee at Brio on a Saturday
            li "Waffee and coffles" at Zero Gravity on the weekend 
            li Skinning-up Bolton or another mountain
            li Night ski at Bolton (Tuesday "Skimo" courses by Catamount Trail Association)
            li Mountain biking around Waterbury VT
            li Prohibition Pig (Waterbury) after a hike/bike
            li Rollicking around foot-deep snow in boots with gaiters, crampons and poles, off Notch Rd in Bolton
            li Trying Wine+Cheese at Daedalus 
            li Trying dinner at Honey Road
            li Checking-out Musée d'art contemporain de Montréal
            li Dim Sum at Cafe Dim Sum
            li Workout at Hula 
            li Chilling any night at Wallflower Collective 
            li Indian takeout and samosas from Shalimar of India
            li Tiny Thai takeout 
            li Cold weather Pho Hong or Pho Dang
            li A bike day out of Ranch Camp, Stowe
            li Stowe's PK coffee 
            li Dinner at Hen of the Wood in Burlington
            li Working late at the Hotel VT Junniper Bar/Restaurant
