@import '../node_modules/nib'

html
  height 100%
  width 100%
  margin 0 0
  padding 0 0

body
  height 100%
  width 100%
  margin 0 0
  padding 0 0
  font-family 'HelveticaNeue-UltraLight','Yantramanav', sans-serif
  color white
  background-color white

.stardust
  background-image url("/img/stardust.png")
  background-repeat repeat
  background-size 399px
  background-position center center

.navIcons
  height 60px

.navIcons div
  height 60px
  background-color clear
  background-repeat no-repeat
  background-position center center
  &:hover
    opacity .6

.linkedinBG
  background-image url("/img/linkedin2x.png")
  background-size 30px

.twitterBG
  background-image url("/img/twitter2x.png")
  background-size 36px

.aurora
  background linear-gradient(bottom, rgba(255,255,255,.3),  100% rgba(0,0,0,0))
  height 40%
  width 100%

.fixBottom
  position fixed
  bottom 0px

.hundeepiece
  min-height 100%

.content
  padding-bottom 7%

.pieces
  margin-top 30px

.piece
  padding 10px

.piece img
  width 100%
  height auto
  &:hover
    opacity 0.7

.center
  text-align center
